*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(34, 33, 33);
    
}

header{
     
    position: fixed;
    background: red;
    color: white;
    width: 100%;
    padding: 10px; 
    display: flex;
    align-items: center;
    padding: 15px 15px;

  

}
.right{
    margin-left: auto;
    font-size:40px;
    background: red;
   
}


.center,.left{
    font-size:40px;
    margin-right:10px;
    background: red;
}
ion-icon{
    color: white;
    font-size:40px;
    cursor: pointer;
    
}
.container{
    padding-top: 90px;
}
.title{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 40px;
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.box{
  
    padding: 20px;
    border: 5px solid, white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;}
.box ion-icon{
   align-self: flex-end;
  cursor: pointer;
  background-color: greenyellow;
  color: black;
  

 
}
.pic img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.pic{
    height: 140px;
    overflow: hidden;
}
.name{
    font-size: 25px;
    padding: 12px 2px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.price{
    font-size: 20px;
    background-color: white;
    color: black;
 
}
